Package: @project.artifactId@
Version: @project.version@
Architecture: all
Priority: low
Maintainer: Van Gulck, Tom <tom.vangulck@vlaanderen.be>
Description: @project.name@
Depends: openjdk-17-jre-headless
